SECRET_KEY=CHANGE_TO_RANDOM_LONG_VALUE
DATABASE_URL=postgresql+psycopg2://chrys_user:CHANGE_PASSWORD@127.0.0.1:5432/chryspharmacy
SMS_TO_API_KEY=
SMS_SENDER_ID=CHRYSPHARM
SMS_ENABLED=false
EMAIL_ENABLED=false
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_STARTTLS=true
